

# ===================================== #
# While Testing/Programming.... #
# ===================================== #

# Many vdbs are going to be generated that we don't want to push. Especially given that they are binary. #
# Later on, we may want to remove this one.#
*.vdb
*.vdb.meta


*.log



# =============== #
# Unity generated #
# =============== #
/Temp/
/Obj/
/UnityGenerated/
/Assets/AssetStoreTools*
/Library/

Build/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/

*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj


 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
sysinfo.txt